.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.para {
    margin-left: -20px;
}

.reset {
    text-decoration: none;
    margin-left: 30px;
}

.reset:hover {
    text-decoration: underline;
}